body { font-family: 'Raleway', sans-serif;}
.morado { background-color: #660066;}
.header { 
    background-image: url("../img/bg_hero.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}
.header div {padding-top: 29rem;}
.card {border: 0px solid; }